<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Hello</title>
    <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/database" class="nav-link px-2 text-primary">Students base</a></li>
            <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="POST" action="{{ url_for('search')}}">
            {{ form.hidden_tag() }}
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" name="searched">
        </form>

        <div class="text-end">
            <a type="button" class="btn btn-warning" href="/insert_data">Add data</a>
        </div>
      </div>
    </div>
  </header>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <h2>Database (students) info</h2>
    {% if students|length > 0 %}
    {% for el in students %}
    <div class="alert alert-info">
        <h2>ID: {{ el.id }}</h2>
        <h6>Number certificate: {{ el.number_certificate }}</h6>
        <h6>Student name: {{ el.full_student_name }}</h6>
        <a href="/database/{{ el.id }}" class="btn btn-warning">More info</a>
    </div>
    {% endfor %}
    {% else %}
    <h6>There is no data in database.</h6>
    {% endif %}
</body>
</html>